*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
#page1,#page2,#page3{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#page1{
    background-color: cadetblue;
}
#page2{
    background-color: crimson;
}
#page3{
    background-color: rgb(149, 176, 109);
}
#circle{
    height: 300px;
    width: 300px;
    border-radius: 50%;
    background:linear-gradient(rgb(200, 125, 125),rgb(108, 108, 209)) ;
}